*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: rgba(31, 36, 34, 0.5);
    /* background-color:rgba(31, 36, 34, 0.5) ; */
}
#header{
    background-color: black;

    width: 100%;
    font-size: 20px;
    position: fixed;
    margin-top: -50px;
    z-index: 2;

}
#nav{
    list-style-type: none;
    display: inline-block;
    
}
#langu{
    display: inline-block;
    height: 100%;
    /* float: right; */
    margin-top: 15px;
    margin-right: 20px;
    overflow: hidden;
}
.co{
    width: 30px;
    height: 20px;
    margin-right: 5px;

}
#nav>li{
    display: inline-block;
    position: relative;
    margin-top: 0px;
    height: 100%;
}
#nav>li>a{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav .sub_thongtin{
    display: none;
    background-color: black;
    list-style-type: none;
    width: 150px;
    position: absolute;
}
#nav .sub_thongtin li {
    padding-top: 10px;
}
#nav .sub_thongtin li a{
    color:  white;
    text-decoration: none;
    padding-left: 10px;
}
#nav li:hover .sub_thongtin{
    display: block;
}
#nav li:hover {
    background-color: rgb(61, 51, 51);
}
#slider{
    margin-top:46px;
    position:relative;
    max-height: 500px;
    width: 100%;
    overflow: hidden;
    
}
#image-slider{
    width: 100%;
}
#member{
    background-image: linear-gradient(180,rgba(58, 204, 143,0.5),rgb(61, 135, 221,0.5));
}
#content{
    margin: 100px 100px;

}
.list{
    width: 49%;
    display: inline-block;
    text-align: center;

}
.anh{
    display: block;
    margin: auto;
}
#product{
    padding-top: 50px;
    
}
#pd_content{
    text-align: center;
}
.pd{
    padding-top: 80px;
  }