@media (max-width: 800px) {
    #nav{
        display: none;
    }
    #ti-menu{
        display: inline-block;
    }
    .list{
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 8
        0%;
    }
    #content{
        margin: 15px 30px;
    
    }

        
}
    .anh{
        width: 70%;
    }
    .list{
        width: 70%;
    }
    #futer{
 
        height: 170px !important;
        
    }

    
.cv{
   
    top: 500px !important;
 
    transform: translate(-75%, -50%) !important;

    
}

.img-cv{
    width: 150% !important;
    padding: 0px 20px;
}


@media (max-width: 600px){
    .cv{
   
        top: 270px !important;
     
        transform: translate(-75%, -50%) !important;
    
        
    }
    
    .img-cv{
        width: 150% !important;
        padding: 0px 10px !important;
    }
}



@media (max-width: 1200px) {
    

.cv{
   
    top: 500px;
 
    transform: translate(-62%, -50%);

    
}

.img-cv{
    width: 125%;
    
}
}