@media (max-width: 800px) {
    #nav{
        display: none;
    }
    #ti-menu{
        display: inline-block;
    }
    .list{
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 8
        0%;
    }
    #content{
        margin: 15px 30px;
    
    }
    .anh{
        width: 70%;
    }
    .list{
        width: 70%;
    }
}